.user-container {
  width: 720px;
  height: 708px;
  margin-top: 4rem;
  border-radius: 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  /* display: flex;
    justify-content: center; */
  padding: 60px 40px 20px 40px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 10px;
}
span {
  margin-left: 20rem;
}
#border-l {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#border-r {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

.edit-btn {
  background: linear-gradient(90deg, #7dba28 0%, #9aca3f 100%);
  border-radius: 14px;
  width: 160px;
  margin-top: 1rem;
}
.home-btn {
  width: 160px;
}
.btn {
  float: right;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.user-container img {
  margin: 1rem 0rem;
}
